DATABASE_URL="postgresql://db_username:db_password@localhost:5432/mydb?schema=public"
B2_KEY=backblaze_key
B2_KEYID=backblaze_key_id
B2_BUCKET=backblaze_bucket
KSEF_CERT_PW=ksef_cert_pw
# origin of deployed app used for correct cors settings
# localhost:3000 is added automatically
ORIGIN=https://deployed.app.example:1234
NIP=1234
